.card-container {
  @include section-title;

  display: grid;
  background-color: $content-bg;
  gap: 10px;
  padding: $padding;

  .card {
    padding: 20px;
    @include section-title;
    background-color: $primary-card-bg;
    border: $border-width solid $border;
    border-radius: $border-radius;
  }
}

.card-container-1 {
  @extend .card-container;

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;

    h4 {
      grid-column: span 3;
    }
    
    .card {
      background-color: $secondary-card-bg;
    }
  }
}

.card-container-2 {
  @extend .card-container;

  h3 {
    grid-column: span 4;
    margin: 0px;
  }

  grid-template-columns: repeat(4, 1fr);
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  
  margin-top: $margin;
  margin-bottom: $margin;

  .menu {
    @include center;
    @include section-title;
    
    border: $border-width solid $border;
  }
}