@mixin section-title {
  h3 {
    text-align: center;
    font-size: $medium;
    color: $font-color;
    font-family: $font-family;
  }
  
  h4 {
    text-align: left;
    font-size: $small;
    color: $font-color;
    font-family: $font-family;
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}