$background: #eeeeee;
$border: grey;
$header-bg: #c7b2d4;
$section-bg: #cfe2f3;
$content-bg: #d9d2e9;
$primary-card-bg: #c27ba0;
$secondary-card-bg: #f4cccc;
$font-color: black;

$font-family: Arial, sans-serif;
$medium: 14px;
$small: 12px;

$margin: 5px;
$padding: 20px;

$border-width: 2px;
$border-radius: 10px;
